@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-slider {
  --slider-color: #777;
  width: 100%;
  height: 6px;
  border-radius: 9999px;
  -webkit-appearance: none;
  background: transparent;
  cursor: pointer;
}

/* Трек */
.color-slider::-webkit-slider-runnable-track {
  height: 6px;
  border-radius: 9999px;
  background: transparent;
}

.color-slider::-moz-range-track {
  height: 6px;
  border-radius: 9999px;
  background: transparent;
}


.color-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--slider-color);
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  margin-top: -6px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  position: relative;
  z-index: 2;
}

.color-slider::-webkit-slider-thumb:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
}

.color-slider::-moz-range-thumb {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--slider-color);
  border: 2px solid white;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.color-slider::-moz-range-thumb:hover {
  filter: brightness(0.8);
  transform: scale(1.1);
}